.intro {
  margin-bottom: 147px;

  @include vp-1023 {
    margin-bottom: 90px;
  }

  @include vp-767 {
    margin-bottom: 85px;
  }
}

.intro__content {
  display: flex;
  justify-content: space-between;

  @include vp-1023 {
    align-items: flex-start;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.intro__column-left {
  align-self: center;
  max-width: 515px;
  margin-right: 20px;
  padding-bottom: 5px;

  @include vp-1023 {
    padding-top: 0;
  }

  @include vp-768 {
    max-width: 324px;
  }

  @include vp-767 {
    max-width: 100%;
    margin-right: 0;
    padding-bottom: 0;
  }
}

.intro__content img {
  display: block;
  width: 100%;
  max-width: 560px;
  height: auto;

  @include vp-1023 {
    max-width: 324px;
    margin-top: 9px;
  }

  @include vp-767 {
    margin-top: 43px;
  }
}

.intro__subtitle {
  margin: 0 0 22px;
  padding: 0;

  font-weight: 600;
  font-size: 28px;
  line-height: 42px;

  @include vp-1023 {
    margin-bottom: 15px;

    font-size: 26px;
    line-height: 36px;
  }

  @include vp-767 {
    font-size: 24px;
    line-height: 34px;
  }
}

.intro__content-text {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 24px;
}
